.comum1
{
 margin-top: 70px;
 width: 1142px ;
 min-height: 790px ;
 margin-left:100px;
 background-color: rgb(221, 225, 231);
 color: rgb(80, 140, 231);
 margin-right: 100px;
 float: left;
 margin: 2 auto;
 max-height: auto;
}

.caixa
{
clear: both;
}

.titulo
{
text-align: center;
}

.texto
{
color: black;
margin-top: 70px;
height: auto;
font-size: 120%;
}

.lorem{
    text-align: center;
}