*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(109, 109, 109);
}

header{
    background-color: rgb(166, 166, 166);
    height: 100px;
}

.style_logo{
    position: relative;
}

.logo{
    position: absolute;
    top: 15px;
    width: 500px;
}

.caixa_busca[type="text"] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 30px;
    margin-right: 16px;
    font-size: 17px;
}

.contato_link{
    line-height: 100px;
    padding-left: 950px;
    color: rgb(255, 184, 51);
}

.contato_link a{
    color: rgb(255, 184, 51);
}

a{
    text-decoration: none;
}

.link_menu{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 25px;
    padding: 20px 5px;
}

.link_menu:hover{ /*semelhante ao mouse over*/
    background-color: rgb(160, 160, 160);
    color: black;
}

body{
    font-family: arial;
}

.conteudo_menu{
    list-style: none;
}

.aux_menu[type="checkbox"]{
    display:none;
}

.aux_menu[type="checkbox"]:checked ~ .hamburguer_menu{
    transform: translateX(300px);
}

.hamburguer_menu{
    background-color: gray;
    width: 300px;
    height: 100%;
    left: -300px;
    position: absolute;
    transition: all .5s;
}

label{
    padding: 15px;
}

.icone_menu {
    display: inline-block;
    cursor: pointer;
}
  
.barra1, .barra2, .barra3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
  
.clickMenu .barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
.clickMenu .barra2 {
    opacity: 0;
}
  
.clickMenu .barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

footer{
    min-height: 200px;
    background-color: rgb(166, 166, 166);
    backdrop-filter: blur();
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center ;   
}

.direitos{
    text-align: center;
}

.citacao{
    font-family: serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.autor{
    font-family: serif;
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
}

.denuncia{
    font-size: 20px;
    color: rgb(151, 23, 23);
    text-align: center;
    padding-top: 20px;
}






